<aside>
	<div class="aside_action_btn" id="aside_action_btn"></div>
	<div class="tag" id="user_tag">
		<i class="fas fa-user"></i>
		<span>使用者</span>
	</div>
	<div class="tag" id="commodity_tag">
		<i class="fas fa-cube"></i>
		<span>商品</span>
	</div>
	<div class="tag" id="commodity_order_tag">
		<i class="fas fa-scroll fa-sm"></i>
		<span>商品訂單</span>
	</div>
	<div class="tag" id="room_tag">
		<i class="fas fa-building"></i>
		<span>房間</span>
	</div>
	<div class="tag" id="room_order_tag">
		<i class="fas fa-book"></i>
		<span>房間訂單</span>
	</div>
	<div class="tag" id="response_tag">
		<i class="fas fa-clipboard"></i>
		<span>回報</span>
	</div>
</aside>