<div class="action_box">
	<h2>房間</h2>
	<div class="btn_box">
		<div class="btn_item create_btn" id="create_btn">新增</div>
		<div class="btn_item modify_btn" id="modify_btn">修改</div>
		<div class="btn_item delete_btn" id="delete_btn">刪除</div>
	</div>
</div>
<table>
	<thead>
		<tr>
			<th>
				1
			</th>
			<th>
				2
			</th>
			<th>
				3
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<input type="checkbox" id="test" />
			</td>
			<td>
				5
			</td>
			<td>
				6
			</td>
		</tr>
		<tr>
			<td>
				7
			</td>
			<td>
				8
			</td>
			<td>
				9
			</td>
		</tr>
		<tr>
			<td>
				10
			</td>
			<td>
				11
			</td>
			<td>
				12
			</td>
		</tr>
	</tbody>
</table>

